header, .post:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

header {
  background-image: linear-gradient( #34333d, #4f505c);
}

body {background-color: #b4aeae;}

a {
  color: #379b37;
}

a:hover {
  color: #48c948;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #379b37;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #48c948;
  text-decoration: underline;
}

.post {
  border: 1px solid black;
}

.creator {
  font-size: small;
}

.comments {
  border: 1px solid black;
}
